[submodule "services/gateway"]
	path = services/gateway
	url = https://github.com/FireFly4ik/pinek-gateway
[submodule "services/auth"]
	path = services/auth
	url = https://github.com/FireFly4ik/pinek-auth
[submodule "services/file"]
	path = services/file
	url = https://github.com/FireFly4ik/pinek-file
[submodule "services/post"]
	path = services/post
	url = https://github.com/FireFly4ik/pinek-post.git
